@import "../var";
.index {
    & .ant-tabs {
        display: block;
        & .ant-tabs-nav-wrap {
            margin-left: 10%;
        }
        & .ant-tabs-nav {
            background: #fff;
        }
    }
    & .btns {
        position: absolute;
        top: 88px;
        right: 10%;
        & .btn-oper {
            font-size: 16px;
            margin-left: 20px;
        }
    }
    & .content {
        background: #ececec;
        position: relative;
        display: block;
        width: 100%;
        & .card-row {
            display: flex;
        }
        & .ant-card {
            &.mini {
                max-width: 180px;
            }
        }
        & .react-grid-layout.no-resizable {
            & .react-resizable-handle {
                display: none;
            }
        }
        & .btn-block {
            background: @clr-gray-1;
            margin: 10px;
            float: left;
        }
    }
    & .ant-card-head-title {
        font-size: 20px;
    }
    & .card-item {
        width: 100%;
    }
    & .ant-card-bordered {
        border: 1px solid #e4d2ba;
    }
    & .ant-descriptions-view {
        padding: 10px 20px 10px 20px;
    }
    & .ant-descriptions-item-label {
        font-size: 16px;
    }
    & .ant-descriptions-item-content {
        font-size: 16px;
        flex: unset;
        margin-left: 50px;
    }
    & .ant-tabs-content-holder {
        width: 100%;
        & .ant-tabs-content {
            display: block;
        }
    }
    & .ant-tabs-tabpane {
        display: flex;
    }
}