.index {
    & .ant-tabs {
        & .ant-tabs-nav-wrap {
            margin-left: 10%;
        }
        & .ant-tabs-nav {
            background: #fff;
        }
    }
    & .ant-btn {
        position: absolute;
        top: 88px;
        right: 10%;
    }
    & .content {
        background: #ececec;
        & .card-row {
            display: flex;
        }
        & .ant-card {
            margin: 20px;
        }
    }
    & .ant-card-head-title {
        font-size: 20px;
    }
    & .card-item {
        width: 100%;
    }
    & .ant-tabs-top > .ant-tabs-nav {
        margin: 0;
    }
    & .ant-card-bordered {
        border: 1px solid #e4d2ba;
    }
    & .ant-descriptions-view {
        padding: 10px 20px 10px 20px;
    }
    & .ant-descriptions-item-label {
        font-size: 16px;
    }
    & .ant-descriptions-item-content {
        font-size: 16px;
        flex: unset;
        margin-left: 50px;
    }
}