@import "var";

.g-header {
    min-width: 50px;
    // & .ant-row {
    //     padding-top: 1rem;
    // }
}
.ant-divider-horizontal {
    margin: 10px 0;
}

.clr-blue-1 {
    color: #0e77fe;
}
.pd-tp-1rem {
    padding-top: 1rem;
}

.g-page {
    min-height: 1100px;
    background: #ececec;
}